#root {
  display: flex;
  justify-content: center;
  background-color: rgb(207, 207, 234);
}

.page {
  max-width: 1440px;
}

.page-content {
  max-width: 1220px;
  background-color: rgb(30, 35, 64);
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
}
